
body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 1128px;
  max-height: 560px;
  margin-left: 115px;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  float: left;
  max-width: 660px;
  /* border: 2px solid red; */
  height: 560px;
}

p {
  color: #8f5849;
  font-family: 'Roboto Flex';
  font-weight: 200;
  font-size: 60px;
}

.search-aid {
  border: 1px solid rgba(239, 239, 239);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;

  font-family: 'Roboto Flex';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  font-size: 21px;

  display: flex;
  flex-direction: column;
  margin: 0 10px 17px;
  /* border: 2px solid red; */
  position: relative;
}

.search-aid:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.next {
  position: absolute;
  right: 20px;
  top: 24px;
  height: 20px;
  opacity: .8;

}

.main-right{
  display: flex;
  justify-content: flex-end;

  /* border: 2px solid red; */
  max-width: 600px;

}

.main-picture {
  max-height: 560px;
  /* position: static;
  right: 0; */
  z-index: -1;
}

/* .options {
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  height: 54px;
  width: 111px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  border-radius: 52px;
  font-weight: 600;
  font-size: 16px;
  transition: background-color .15s;
  margin-right: 8px;
}

.options:hover {
  background-color: rgba(200, 200, 200, .7);
  cursor: pointer;
}

.blue {
  background-color: white;
  color: rgb(10, 102, 194);
  border: 1px solid rgb(10, 102, 194);
  height: 53px;
  width: 110px;
  border-radius: 51px;
  font-weight: 600;
  font-size: 16px;
  transition: background-color .15s;
}

.blue:hover {
  cursor: pointer;
  background-color: rgba(10, 102, 194, 0.055);
}

.two {
  position: relative;
  background-color: rgba(239, 239, 239);
} */


@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    max-height: 600px;
  }

  .search-aid {
    width: 85%;
  }

  .main-picture {
    max-height: 400px;
    max-height: 400px;
  }
}
